body {
font-family: "Roboto Slab", serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal; 
}

.hero-text {
    text-align: center;
    color:aliceblue
}

.hero-image {
    background-image: url(Pink.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}